<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attend</title>
</head>
<body>
    

    <h1>Attendace</h1>
    <p>Click the button below to mark attendance</p>

    <form method="POST">
        {% csrf_token %}
        <button> Attend </button>


    {% if status == 2 %}
        <p>You can only attend once</p>
    {% endif %}

    {% if status == 3 %}
        <p>your account has been created</p>
    {% endif %}

    {% if status == 0 %}
        <p>You have to log in first</p>
        <a href = "{% url  'login' %}">LOGIN</a>
        <a href = "{% url  'register' %}">REGISTER</a>
    {% endif %}

    </form>

</body>
</html>